<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pic_01.jpg</string>
	<string>pic_02.jpg</string>
	<string>pic_03.jpg</string>
	<string>pic_04.jpg</string>
	<string>pic_05.jpeg</string>
	<string>pic_06.jpg</string>
	<string>pic_07.jpg</string>
	<string>pic_08.jpg</string>
	<string>pic_09.jpg</string>
	<string>pic_10.jpg</string>
	<string>pic_11.jpg</string>
</array>
</plist>
