<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   album.plist
   CQAssetsDisplay

   Created by 陈长青 on 2017/5/23.
   Copyright (c) 2017年 chenchangqing198@126.com. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
