<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>vid_01.mp4</string>
	<string>vid_02.mp4</string>
	<string>vid_03.mp4</string>
	<string>vid_04.mp4</string>
	<string>vid_05.mp4</string>
	<string>vid_06.mp4</string>
	<string>vid_07.mp4</string>
	<string>vid_08.mp4</string>
	<string>vid_09.mp4</string>
</array>
</plist>
