<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lgAwG4uc769dmSxIuCSiR8hUWImK.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lhqwaEVyjhTMggP-7bOtvadYOskg.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lvs6eQVUTlkpNggihBXIfMqRLwpW.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lnCdbgF0ORbX4RZlZULaIAOCbvYv.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/ln1wH7DH60F13J4ovwjM-nOCHkuc.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lvaJQ55Cwn6XxXh2_eXIK9LNI-vm.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/ljES_gV-MxfTK-cZhb8N5o1qEHhf.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lq6BVSWeCEA2RYIeZuQ5hwE0gqYc.mp4</string>
	<string>http://pic-qiniu.du-nang.com/avthumb/mp4/live/201704/lkFqe_91l49dk8OWCkjvvtAxloXt.mp4</string>
</array>
</plist>
